* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}


/* Style the header */

header {
    background-color: #666;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
    flex: 0 0 auto;
}


/* Container for flexboxes */

section {
    display: -webkit-flex;
    display: flex;
    flex: 1 0 auto;
}


/* Style the navigation menu */

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background: #ccc;
    padding: 20px;
}


/* Style the list inside the menu */

nav ul {
    list-style-type: none;
    padding: 0;
}


/* Style the content */

article {
    -webkit-flex: 5;
    -ms-flex: 5;
    flex: 5;
    background-color: #f1f1f1;
    padding: 10px;
}


/* Style the footer */

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
    flex: 0 0 auto;
}


/* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}